body {
	font-family: Arial, Helvetica, sans-serif;
}

table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

  .ui-autocomplete-loading {
    background: white url("ui_anim.png") left center no-repeat;
  }
